* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-container {
  display: flex;
}

.nav-links {
  display: flex; 
  gap: 3rem;
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.logo {
  color: white;
  display: flex;
  margin-left: 3rem;
  font-size: x-large;
  font-weight: bolder;
  align-items: center;
  padding: 1rem;
}

.nav-links li {
  list-style: none;
  color: white;
  position: relative;
}

.nav-links a,
.nav-links a:visited {
  color: inherit;
  font-weight: bolder;
  font-size: 21px;
}

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}